.app-container {
    background: url('./images/287.jpg')  no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
	background-size: cover;
	font-family: 'Imprima', sans-serif;
}

MainContainer {
	flex: 1;
	justify-content: center;
	align-items: center;
	width: null; 
	height: null;
  }

.NavBar a, .NavBar button {
	margin: 0 5px;
	cursor: pointer;
}

.NavBar {
	margin-bottom: 20px
}

@media only screen and (min-width: 770px) {
	.nav-div {
		display: flex; 
	}
}
.nav-brand{
	font-family: 'Cutive Mono', monospace;
}